<!doctype html>
<html>
    <head>
      <meta charset="UTF-8" />
      <link href="{{url_for('static',filename='css/style.css')}}" media="screen" type="text/css" rel="stylesheet" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
      <script type="text/javascript" src="{{url_for('static',
          filename='js/dlaccordion.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static',
          filename='js/jquery.silex.min.js')}}"></script>
      <script type="text/javascript">
        $(function(){
            $('.silex').silex();
        });
      </script>
      <title>Kubitus</title>
    </head>
    <body>
        <header>
          <h1><a href="{{url_for('page', page='index')}}">Kubitus</a></h1>
          <aside>
            <ul>
              <li><a href="{{url_for('page', page='member')}}">Accès client</a></li>
             </ul>
           </aside>
        </header>
        
        <nav>
          <ul>
            <li class="home"><a href="{{url_for('page', page='index')}}">Accueil</a></li>
            <li><a>Services</a>
              <ul>
                <li><a href="{{url_for('page', page='graphique')}}">Conception graphique</a></li>
                <li><a href="{{url_for('page', page='btoc')}}">Offres B to C</a></li>
                <li><a href="{{url_for('page', page='btob')}}">Offres B to B</a></li>
              </ul>
            </li>
            <li><a href="{{url_for('page', page='partenaires')}}">Partenaires</a></li>
            <li><a href="{{url_for('page', page='contact')}}">Contactez-nous</a></li>
          </ul>
        </nav>
        
        <section>
          {% block content %}
         {% endblock content %}
       </section>
    </body>
</html>
