{% extends '_layout.html.jinja2' %}

{% block content %}
    <header>
      <h2>Offre B to B</h2>
    </header>
    <p>Vous souhaitez faire une campagne de communication à titre professionnel pour les acteurs de santé ? Kubitus permet d'adresser votre publicité à une sélection de clients de votre choix.</p>
    <ul class="offer">
      <li class="standard"><a href="{{url_for('page', page='standard')}}">Offre Standard</a></li>
      <li class="personnal"><a href="{{url_for('page', page='personnal')}}">Offre Sur-Mesure</a></li>
      <li class="special"><a href="{{url_for('page', page='special')}}">Offre Spéciales Laboratoires Pharmaceutiques</a></li>
    </ul>
    {% macro billboard_item(title, img, heigth, width) %}
      <dt>{{ title }}</dt>
      <dd>
        <p><img src="{{url_for('static', filename="css/img/%s.png" % img)}}"></p>
        <p>{{heigth}}x{{width}}</p>
        <p>{{caller()}}</p>
      </dd>
    {% endmacro %}
    <strong>Voici les différentes possibilités d'affichage sur les sites Internet santé</strong>
    <dl id="banniere" class="accordion">
    {% call billboard_item('Billboard Grand', 'billboard', 300, 250) %}
    C'est un format universel avec une très bonne visibilité. Il permet d'insérer de longs textes.
    {% endcall %}
    {% call billboard_item('Billboard Petit', 'bandeau-haut', 300, 250) %}
    C'est un format universel avec une très bonne visibilité. Il permet d'insérer de longs textes.
    {% endcall %}
    {% call billboard_item('Bandeau Haut', 'bandeau-haut', 468, 68) %}
    C'est un format universel avec une très bonne visibilité. Il permet d'insérer de longs textes.
    {% endcall %}
    {% call billboard_item('Bandeau Bas', 'bandeau-bas', 468, 68) %}
    C'est un format universel avec une très bonne visibilité. Il permet d'insérer de longs textes.
    {% endcall %}
    {% call billboard_item('Skyscrapper Vertical large Gauche ou Droit',
    'skyscrapper-large', 160, 600) %}
Le skyscrapper est un bandeau très répandu qui s'intègre facilement sur un site Internet . Il présente un bon moyen de remplir l'espace vide sur les côtés. Grâce à sa longueur, le skyscrapper est visible constamment même avec l'utilisation du scroll.
    {% endcall %}
    {% call billboard_item('Skyscrapper Vertical Gauche ou Droit',
    'skyscrapper', 120, 600) %}
Le skyscrapper est un bandeau très répandu qui s'intègre facilement sur un site Internet . Il présente un bon moyen de remplir l'espace vide sur les côtés. Grâce à sa longueur, le skyscrapper est visible constamment même avec l'utilisation du scroll.
    {% endcall %}
    {% call billboard_item('Roadblock', 'roadblock', 300, 250) %}
Le Roadblock est un regroupement de formats. Vous pouvez par exemple,  allier un bandeau haut ou bas avec un skyscrapper vertical.  Il vous offre ainsi  une présence et une visibilité renforcée.
    {% endcall %}
    </dl>
{% endblock content %}
