{% extends '_layout.html.jinja2' %}

{% block content %}
  <h2>Les Partenaires</h2>
  <form>
    <label>Raison Social *</label>
    <input type="text" />
    <label>Nom *</label>
    <input type="text" />
    <label>Prénom< */label>
    <input type="text"/>
    <label>Fonction *</label>
    <input type="text" />
    <label>Email</label>
    <input type="text" />
    <label>N° </label>
  </form>

{% endblock content %}
