{% extends '_layout.html.jinja2' %}

{% block content %}
  <article>
    <h2>Conception graphique</h2>
    <p>Notre équipe graphique est à votre disposition pour l'élaboration et la conception de toutes vos bannières</p>
    <P>Vous souhaitez un complément d'information avant de concrétiser votre projet contactez-nous</p>
    <p class="center"><img src="../static/css/img/bandeau-krea.gif"/></p>
    <p class="center"><img src="../static/css/img/bandeau-kubitus.gif"/></p>
  </article>
{% endblock content %}
