{% extends '_layout.html.jinja2' %}

{% block content %}
  <article id="home">
    <section>
      <ul>
        <li class="pills">Kubitus est une régie média dédiée au secteur de la santé</li>
        <li class="internet">Kubitus fait bénéficier ses clients annonceurs de son important réseau de sites Internet santé</li>
        <li class="cross">Kubitus vous permet d'adresser vos campagnes de communication aux différentes catégories de professionnels de santé (pharmaciens d'officine, médecins...)</li>
        <li class=" tools">Grâce à la technologie déployée par Kubitus, vous optimisez la diffusion ciblée de votre information (géolocalisation, spécialité, panel...).</li>
      </ul>
      <div class="silex">
        <img src="../static/css/img/pharmacie-temoin3.gif">
        <img src="../static/css/img/pharmacie-temoin1.gif">
        <img src="../static/css/img/pharmacie-temoin4.gif">
        <img src="../static/css/img/pharmacie-temoin5.gif">
      </div>
    </section>
    
    <aside>
      <div class="b-to-b">
        <a href="{{url_for('page', page='btob')}}">
          <h2>Offres <br/>B to B</h2>
        </a>
      </div>
      <div class="b-to-c">
        <a href="{{url_for('page', page='btoc')}}">
        <h2>Offres <br/>B to C</h2>
      </a>
      </div>
    </aside>
  
    </article>
    <article>
  </article>

{% endblock content %}
