{% extends '_layout.html.jinja2' %}

{% block content %}
<article>
  <header>
    <h2>Accès Client</h2>
  </header>
  
  <div class="member">
    <h3>Vous êtes client</h3>
    <form>
      <label>Identifiant</label>
      <input type="text" />
      <label>Mot de passe</label>
      <input type="text" />
      <input type="submit" value="Valider" />
    </form>
  </div>
  
  <div class="no-member">
    <h3>Vous n'êtes pas encore client ?</h3>
    <p><a a href="{{url_for('page', page='contact')}}" class="button">S'enregistrer</a></p>
  </div>
</article>
{% endblock content %}
