{% extends '_layout.html.jinja2' %}

{% block content %}
  <h2>Les Partenaires</h2>
  <p>Kubitus s'est associé avec Pharminfo.fr et Medsite.fr afin de vous apporter les meilleures compétences et les meilleurs services.</p>
  
  <h3>Pharminfo.fr</h3>
  <p>Pharminfo.fr est le leader de la création et de l'hébergement de sites Internet des pharmacies d'officine. Aujourd'hui plus de 2000 pharmacies font confiance à pharminfo.fr.</p>
  <p>Pour plus d'informations : <a href="http://www.pharminfo.fr">www.pharminfo.fr</a> ou contactez-nous à l'adresse suivante : <a href="mailto:contact@pharminfo.fr?subject=[PHARMINFO]%20Projet">contact@pharminfo.fr</a></p>

  <h3>Medsite.fr</h3>
  <p>Medsite.fr propose des sites Internet personnalisés aux médecins de ville. Le médecin dispose d'une vitrine sur Internet idéale pour ses patients.</p>
  <p>Pour plus d'informations : <a href="http://www.medsite.fr">www.medsite.fr</a> ou contactez-nous à l'adresse suivante : <a href="mailto:contact@medsite.fr?subject=[MEDSITE]%20Projet">contact@medsite.fr</a></p>
{% endblock content %}
