{% extends 'offer.html.jinja2' %}

{% block description %}
  <dl id="services">
    <p>Cette offre regroupe les modules de l'offre <strong>Standard</STRONG> auxquels viennent s’ajouter les fonctionnalités supplémentaires suivantes :</p><br/>
    <dt class="screen">Diffusion animée sur le lieu de vente</dt>
    <dd>Avec Kubitus diffusez instantanément des informations en B to B, sur le lieu de vente/conseil. Partagez facilement vos vidéos, slides, (...), vers une population de vos clients partenaires.</dd>
    <dt class="media">Mise à disposition d'une médiathèque</dt>
    <dd>Kubitus héberge vos communications multimédia dans une banque de données spécifique. Les professionnels de santé accèdent ainsi à toutes les informations qu'ils désirent diffuser.</dd>
    <dt class="image">Mise à disposition de la banque d'images Kubithèque</dt>
    <dd>Kubitus entretien une base de données illustrées (images produits, ...). Contribuez à la mise à jour de vos propres produits dans la Kubithèques !</dd>
    <dt class="warning">Promotion lancement de produit</dt>
    <dd>Avertissez vos prospets/clients du lancement d'un nouveau produit ! La mise en ligne est instantanée et l'information relayée immédiatement.</dd>
  </dl>
{% endblock description %}
