{% extends 'offer.html.jinja2' %}

{% block description %}
  <dl id="services">
    <dt class="screen">Diffusion de la campagne promotionnelle sur le lieu de vente</dt>
    <dd>Vous souhaitez diffuser rapidement des publicités en b to b mais également en officine ?  Un simple enregistrement de votre vidéo ou présentation sur notre plateforme et votre client pharmacien peut récupérer les données par internet ou sur clé usb</dd>
    <dt class="media">Mise à disposition d'une médiathèque</dt>
    <dd>Kubitus peut héberger vos communications multimédia dans une banque de données spécifiques. Les professionnels de santé accèdent ainsi à toutes les informations qu'ils désirent diffuser.</dd>
    <dt class="image">Mise à disposition d 'une banque d'images</dt>
    <dd>Kubitus peut  également héberger des images quelles qu'elles soient (médicaments OTC, produits de parapharmacies ...).</dd>
    <dt class="warning">Promotion lancement de produit</dt>
    <dd>Avertissez instantanément vos clients du lancement d'un nouveau produit ! La mise en ligne est rapide et l'information connue immédiatement.</dd>
  </dl>
{% endblock description %}
