{% extends 'offer.html.jinja2' %}

{% block description %}
  <dl id="services">
    <p>Cette offre regroupe les modules des offres <strong>Standard</strong> et <strong>Sur-Mesure</strong> auxquels viennent s’ajouter les fonctionnalités supplémentaires suivantes :</p><br/>
    <dt class="lingot">Mise à disposition d'une "banque" de notices</dt>
    <dd>Kubitus vous propose d'intégrer vos mock-ups dans notre bibliothèque de notices de médicaments, mise à disposition gracieusement et utilisable par la biais d'un moteur de recherche via Pharminfo.fr.</dd>
    <dt class="drawer">Archivages RCP</dt>
    <dd>Archivez les Résumés des Caractéristiques du Produit dans notre base de données. Le professionnel de santé aura l'information mise à jour en permanence à sa disposition.</dd>
    <dt class="print">Impression remis patient</dt>
    <dd>Communiquez facilement auprès du grand public en proposant des remis patient à imprimer en pharmacie ! La diffusion de l'information est toujours plus vite au plus près des patients.</dd>
    <dt class="promo">Impression affiche promotionnelle</dt>
    <dd>Aidez les pharmaciens à faire des affiches promotionnelles sur des produits OTC ou de parapharmacie aux couleurs de leur pharmacie en  intégrant vos photos sur notre banque d'images. Cette photothèque sera à la disposition du pharmacien.</dd>
    <dt class="couponning">Couponing / code promotionnel</dt>
    <dd>(On line ou à imprimer en pharmacie). Le pharmacien dispose de deux moyens promotionnels : 
      <ul>
        <li>mettre directement en ligne à disposition des patients des coupons de réduction/codes promotion </li>
        <li>distribuer au sein de son officine les bons de réduction</li>
      </ul>
      </dd>
  </dl>
{% endblock description %}
