{% extends 'offer.html.jinja2' %}

{% block description %}
  <h3>Offre Spéciale Laboratoires Pharmaceutiques</h3>
  <dl id="services">
    <dt class="lingot">Mise à disposition d'une « banque » de notices</dt>
    <dd>Pour permettre à votre pharmacien d'accentuer son rôle de conseil en officine, nous vous proposons la mise à disposition de votre banque de notices. Le pharmacien peut renseigner rapidement un patient qui aurait perdu sa notice de médicament.</dd>
    <dt class="drawer">Archivages RCP</dt>
    <dd>Archivez les résumés des caractéristiques du produit dans notre base de donné. Le pharmacien aura l'information à sa disposition en permanence.</dd>
    <dt class="print">Impression remis patient</dt>
    <dd>Communiquez rapidement auprès du grand public en proposant des remis patient à imprimer en pharmacie ! La diffusion de l'information est toujours plus vite au plus près des patients</dd>
    <dt class="promo">Impression affiche promotionnelle</dt>
    <dd>Aidez vos pharmaciens à faire des affiches promotionnelles sur des produits OTC ou de parapharmacie aux couleurs de leur pharmacie. Intégrer vos produits dans la banque d'image pour que le pharmacien puisse directement se servir et faire sa promotion à son image.</dd>
    <dt class="couponning">Couponing / code promotionnel</dt>
    <dd>On line ou à imprimer en pharmacie.  Le pharmacien dispose de deux moyens promotionnels : mettre directement à disposition des patients des coupons de réduction / code promotion en ligne ou les distribuer au sein de son officine.</dd>
  </dl>
{% endblock description %}
