{% extends 'offer.html.jinja2' %}

{% block description %}
  <dl id="services">
    <dt class="extranet">Extranet</dt>
    <dd>La promotion B to B est diffusée sur l'extranet : chaque collaborateur de l'équipe officinale, du cabinet médical se connecte via son propre compte. Les droits d'accès sont gérés indépendamment et de manière sécurisée selon le profil du connecté. Une information ciblée, c'est une promotion assurée !</dd>
    <dt class="agenda">Diffusion</dt>
    <dd><p>Kubitus garantit également une campagne promotionnelle tout en souplesse : vous maîtrisez la diffusion d'informations à votre convenance.*</p>
    <p class="note">*La durée minimum d'une diffusion de campagne est d'un mois</p></dd>
    <dt class="frequence">Fréquence</dt>
    <dd><p>La fréquence d’affichage promotionnel sur le site se fait selon votre rythme. 
Kubitus vous donne la possibilité d'apparaître en tant qu’annonceur exclusif ou en tant que multi-annonceurs.*</p>
  <p class="note">*Dans la limite des contraintes techniques acceptables de diffusion</p></dd>
  </dl>

{% endblock description %}
