@font-face {
  font-family: "txt";
  src: url(CaviarDreams.ttf);
}

@font-face {
  font-family: "txt";
  src: url(Caviar Dreams Bold.ttf);
  font-weight: bold;
}

html {
  background: url(img/background.png) repeat-x top left;
  font-family: "txt";
  font-size: 1.05em;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  text-align: justify;
  width: 970px;
}

a {
  text-decoration: none;
  transition: color 0.3s linear;
}

p.center {
  margin: 2em 0;
  text-align: center;
}

p.note {
  font-size: 80%;
}


/*---HEADER--*/
header {
  position: relative;
  z-index:1;
}

header h1 {
  margin: 0;
}

header h1 a {
  background: url(img/logo-kubitus.png) no-repeat 0 4px;
  color: transparent;
  *color: white;
  font-size: 0;
  height: 218px;
  display: block;
  width: 238px;
}

/*---NAV--*/


nav {
  margin: -62px 0 0;
  position: relative;
  text-align: right;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul > li {
  display: inline-block;
  line-height: 65px;
}

nav ul li.home {
  background: #fff;
  border-radius: 10px 10px 0 10px;
  color: transparent;
  font-size: 0;
  height: 55px;
  width: 55px;
}

nav ul li a {
  color: #ddd;
  display: block;
  font-weight: bold;
  padding: 0 8px;
}

nav ul li:hover ul {
  display: inline-block;

}

nav ul li ul {
  display: none;
  position: absolute;
  top: 63px;
  text-align: left;
  font-size: 90%;
  background: #fff;
  width: 220px;
  padding: 0.5em 0;
  border-radius: 0 15px 15px 15px; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

nav ul li ul li {
  display: block;
  height: 25px;
  line-height: 20px;
  padding: 0.4em 15px;
}


nav ul ul li a{
color: #798c4b;
}

/*---SECTION--*/
body > section{
  color: #636464;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

article section {
  display: table-cell;
  padding-right: 60px;
  width: 710px;
}

article aside {
  display: table-cell;
  width: 200px;
}

article#home ul li {
  background: no-repeat center left;
  list-style: none;
  padding: 1.1em 0 1.1em 65px;
}

article#home ul li.pills {
  background-image: url(img/pills.png);
}

article#home ul li.internet {
  background-image: url(img/internet.png);
}

article#home ul li.cross {
  background-image: url(img/cross.png);
}

article#home ul li.tools {
  background-image: url(img/tools.png);
}


/* - Home aside -*/
aside div a {
  display: block;
  border: 1px solid;
  text-align: center;
  margin: 0 0 3em;
  padding: 0.2em 15px;
  text-transform: uppercase;
}

div.b-to-b a, ul.offer li.standard {
  background: #f2f3f0;
  border-color: #dfdfdf;
  border-radius: 15px 15px 0 15px;
  box-shadow: 1px 1px 1px #fcfcfb inset, 
              0px 2px 3px rgba(0, 0, 0, 0.2);
  color: #798c4b;
  padding: 0.2em 15px;
  text-shadow: 2px 1px 1px #fff;
}

div.b-to-c a, ul.offer li.personnal {
  background: #9eb763;
  background: -webkit-linear-gradient(#a4be66, #798c4b);
  background: -moz-linear-gradient(#a4be66, #798c4b);
  border-color: #a4be66;
  border-radius: 0 15px 15px 15px;
  box-shadow: 1px 1px 1px #bcd978 inset,
              0px 2px 3px rgba(0, 0, 0, 0.2);
  color: #f2f3f0;
  text-shadow: 1px 1px 1px #515e33;
}


ul.offer {
  text-align: center;
  display: table;
  padding: 0;
  margin: 40px 0;
  border-spacing: 25px 0;
}

ul.offer li {
  border: 1px solid;
  display: table-cell;
  border-radius: 15px 15px 0 15px;
  vertical-align: middle;
}

ul.offer li.standard a {
  color: #798c4b;
}

ul.offer li.personnal {
  border-radius: 0  15px 15px 15px;
}

ul.offer li.personnal a {
  color: #f2f3f0;
}

ul.offer li.special {
  background: #303A67
  background: -moz-linear-gradient(#3f4c88, #303A67);
  background: -webkit-linear-gradient(#3f4c88, #303A67);
  border-color: #303A67;
  box-shadow: 1px 1px 1px #5465B3 inset,
              0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 0;
}

ul.offer li.special a {
  color: #fff;
  text-shadow: 1px 1px 1px #242C4D;
}

ul.offer li a {
  font-weight: bold;
  display: block;
  font-size: 1.5em;
  padding: 0.3em 20px; 
  width: 240px;
}


dl dt {
  font-weight: bold;
}

dl p {
  margin: 0;
  padding: 2px 0;
}

dl#banniere dt, #services dt {
  text-transform: uppercase;
}

#services dd {
  margin-left: 60px;
}


#services dt {
  background: no-repeat top left;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
}

#services dt.agenda {
  background-image: url("img/icon-agenda.png");
}

#services dt.extranet {
  background-image: url("img/icon-extranet.png");
}

#services dt.media {
  background-image: url("img/icon-media.png");
}

#services dt.warning {
  background-image: url("img/icon-warning.png");
}

#services dt.print {
  background-image: url("img/icon-print.png");
}

#services dt.image {
  background-image: url("img/icon-image.png");
}

#services dt.frequence {
  background-image: url("img/icon-frequence.png");
}

#services dt.screen {
  background-image: url("img/icon-screen.png");
}



/*---FOOTER--*/
footer{
  margin: -40px 20px 0 0;
  text-align: right;
}

footer li{
  display: inline;
}

footer li a{
  color: #dadada;
  font-variant: small-caps;
  padding: 5px;
}

footer li a:hover{ 
  color: #a9d300;
}
