/*
  -------------
  - FONT FACE -
  -------------
*/
@font-face {
  font-family: "txt";
  src: url(PetitaLight.ttf);
}

@font-face {
  font-family: "txt";
  src: url(PetitaBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "nav";
  src: url(CaviarDreams.ttf);
}


/*
  ----------
  - COMMON -
  ----------
*/
html {
  background: #fff url(img/header.png) repeat-x top left;
  font-family: "txt";
  font-size: 1.05em;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  text-align: justify;
}

p {
  margin: 0;
  padding: 3px 0;
}

a {
  border: none;
  font-weight: bold;
  color: #EB5465;
  text-decoration: none;
  transition: color 0.3s linear;
}

a:hover, a:focus {
  color: #dc2d39;
}

/*
  ---------
  - FORMS -
  ---------
*/

form {
  font-size: 92%;
  margin: 20px 0;
  font-family: "nav";
}

form label {
  display: block;
}

form input, form textarea {
  border: 1px solid #DFDFDF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 0.5em;
  padding: 2px ;
  width: 250px;
}

form input:hover, form input:focus,
form textarea:hover, form textarea:focus {
  box-shadow: 0 0 5px rgba(236, 85, 104, 1);
  border-color: rgba(236, 110, 126, 0.2);
}

.address, .mail {
  display: inline-block;
  font-size: 1.1em;
  margin: 25px 0 0;
  min-height: 400px;
  padding: 0 0 0 130px;
  width: 320px;
  vertical-align: top;
}

.address {
  background: url(img/icon-address.png) no-repeat top left;
}

.mail {
  background: url(img/icon-mail.png) no-repeat top left;
}

a.button, form input[type="submit"] {
  background: linear-gradient(#f15a70, #e64b5a);
  background: -moz-linear-gradient(#f15a70, #e64b5a);
  background: -webkit-linear-gradient(#f15a70, #e64b5a);
  border-radius: 5px;
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: bold;
  color: #ad2331;
  font-family: "nav";
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  padding: 0.2em 15px;
}

div.member form input[type="submit"] {
  margin: 0 auto;
}

div.member, div.no-member {
  display: inline-block;
  padding: 15px 25px;
  width: 400px;
  vertical-align: top;
}

div.member form, div.no-member p {
  text-align: center;
}

div.member input, div.member textarea {
  margin: 0.1em auto 0.8em;
}


div.member h3, div.no-member h3 {
  border-bottom: 1px solid #DCD8D8;
}

p.center {
  margin: 2em 0;
  text-align: center;
}

p.figure img {
  display: block;
  margin: 0 auto;
}

p.figure {
  font-size: 0.8em;
}

p.note {
  font-size: 80%;
}


/*---HEADER--*/
body > header {
  background: url(img/slogan.png) no-repeat bottom right;
  margin: 0 auto;
  width: 990px;
}

header h1 {
  margin: 0;
}

header h1 a {
  background: url(img/logo.png) no-repeat 20px 1px;
  color: transparent;
  *color: white;
  display: block;
  font-size: 0;
  height: 190px;
  width: 226px;
}


/*---NAV--*/
nav {
  background: #695e52;
  border-bottom: 1px solid #f6f4f2;
  font-family: "nav";
  font-size: 1.3em;
}

nav ul {
  margin: 0 auto;
  padding: 0 10px;
  width: 990px;
}

nav ul > li {
  display: inline-block;
  position: relative;
}

nav ul li:hover, 
nav ul li:focus {
  background: #7f7366;
}

nav ul li a {
  color: #f6f4f2;
  display: block;
  font-variant: small-caps;
  font-weight: bold;
  padding: 12px 15px;
  text-shadow: 0 1px 1px #473e35;
}

nav ul li a:hover, 
nav ul li a:focus {
  color: #f6f4f2;
}

nav ul li:hover ul {
  display: inline-block;
}

nav ul li ul {
  background: linear-gradient(#fff, #f6f4f2);
  background: -webkit-linear-gradient(#fff, #f6f4f2);
  background: -moz-linear-gradient(#fff, #f6f4f2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 80%;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 220px;
  left: 0;
}

nav ul li ul li {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #fff;
  display: block;
  padding: 0.2em 15px;
}

nav ul li ul li a {
  color: #473E35;
  padding: 8px 10px;
  text-shadow: 0 0 0;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
  color: #473E35;
}

nav ul li ul li:first-child {
  border-top: none;
}

nav ul li ul li:last-child {
  border-bottom: none;
}

nav ul li ul li:hover,
nav ul li ul li:focus {
  background: #fefefe;
}


/*---SECTION--*/
article.home.second {
  background: #fff;
  color: #695e52;
  width: 100%;
}

section {
  background: #f6f4f2;
  color: #695E52;
  overflow: hidden;
}

section header {
  border-bottom: 1px solid #eb5465;
  margin-bottom: 10px;
}

section h2 {
  border-bottom: 5px solid #eb5465;
  display: inline-block;
  font-family: "nav";
  color: #eb5465;
  font-size: 1.8em;
  font-variant: small-caps;
  margin: 0;
  padding: 0.8em 15px 0.1em 5px;
}

article.home.second section {
  display: block;
  width: 990px; 
  margin: 30px auto;
}

article section {
  display: table-cell;
}


ul.offer li.standard {
  background: #e5e5e5;
  background: linear-gradient(#f6f4f2, #eeeae7);
  background: -moz-linear-gradient(#f6f4f2, #eeeae7);
  background: -webkit-linear-gradient(#f6f4f2, #eeeae7);
  border-color: #eeeae7;
  border-radius: 15px 15px 0 15px;
  box-shadow: 1px 1px 1px #fff inset, 
              0px 2px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 1px 1px #fff;
}

ul.offer li:after {
  display: block;
  width: 45px; 
  height: 45px;
  float: left;
  margin: 0 0 -45px 97px;
}

section.standard ul.offer li.standard:after {
  content:url(img/arrow-standard.png);
}

section.personnal ul.offer li.personnal:after {
  content:url(img/arrow-personnal.png);
}

section.special ul.offer li.special:after {
  content:url(img/arrow-special.png);
  margin: -3px 0 -44px 97px;
}

ul.offer li.personnal {
  background: #ee5468;
  background: linear-gradient(#ee5468, #dd2e3a);
  background: -webkit-linear-gradient(#ee5468, #dd2e3a);
  background: -moz-linear-gradient(#ee5468, #dd2e3a);
  border-color: #dd2e3a;
  border-radius: 0 15px 15px 15px;
  box-shadow: 1px 1px 1px #ef7282 inset,
              0 2px 3px rgba(0, 0, 0, 0.2);
  color: #f2f3f0;
  text-shadow: 1px 1px 1px #b41920;
}

ul.offer {
  text-align: center;
  display: table;
  padding: 0;
  margin: 40px 0;
}

ul.offer li {
  border: 1px solid;
  display: inline-block;
  border-radius: 15px 15px 0 15px;
  vertical-align: middle;
  margin: 0 18px;
  height: 100px;
}

ul.offer li.standard a {
  color: #695e52;
}

ul.offer li.personnal {
  border-radius: 0  15px 15px 15px;
}

ul.offer li.personnal a {
  color: #f2f3f0;
}

ul.offer li.special {
  background: #303A67;
  background: -moz-linear-gradient(#887b6d, #695e52);
  background: -webkit-linear-gradient(#887b6d, #695e52);
  border-color: #695e52;
  box-shadow: 1px 1px 1px #a4988a inset,
              0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 0;
}

ul.offer li.special a {
  color: #fff;
  line-height: 1.1em;
  text-shadow: 1px 1px 1px #433a31;
}

ul.offer li a {
  font-weight: bold;
  display: block;
  line-height: 80px;
  font-size: 1.5em;
  padding: 10px 20px; 
  width: 235px;
}

dl dt {
  font-weight: bold;
}

dl#banniere {
  margin: 20px auto;
  width: 900px;
}

dl p {
  margin: 0;
  padding: 2px 0;
}

.pharminfo {
  border-bottom: 1px solid #ddd;
}

div.pharminfo, div.medsite {
  padding: 15px 0 20px;
  overflow: auto;
}

div.pharminfo h3, div.medsite h3 {
  color: #695e52;
  text-decoration: underline;
}

.pharminfo img, .medsite img {
  float: left;
  margin-right: 50px;
}

div.medsite {
  clear: left;
}

/* - Accordion - */
dl.accordion dt{
  background: no-repeat 5px center;
  border-bottom: 1px solid #DCD8D8;
  border-top: 1px solid #fff;
  font-size: 1.4em;
  padding: 0.2em 10px 0 90px;
  line-height: 48px;
  clear: left;
}

dl.accordion dt:first-child {
  border-top: none;
}

dl.accordion dt:last-child {
  border-bottom: none;
}

dl.accordion  img {
  float: left;
  margin: 0 15px 0 42px;
}

dl.accordion dd {
  background: url(img/dd-shadow.png) no-repeat top center;
  padding-top: 10px;
  overflow: auto;
}

dl.accordion dt:hover,
dl.accordion dt:focus {
  background-color: #e5e2e2;
  cursor: pointer;
}

dl#banniere dt, #services dt {
  font-variant: small-caps;
}

dl.accordion dt.billboard-grand {
  background-image: url(img/icon-billboard-grand.png);
}

dl.accordion dt.billboard-petit {
  background-image: url(img/icon-billboard-petit.png);
}

dl.accordion dt.bandeau-haut {
  background-image: url(img/icon-bandeau-haut.png);
}

dl.accordion dt.bandeau-bas {
  background-image: url(img/icon-bandeau-bas.png);
}

dl.accordion dt.skyscrapper-large {
  background-image: url(img/icon-skyscrapper-vertical-large.png);
}

dl.accordion dt.skyscrapper {
  background-image: url(img/icon-skyscrapper-vertical.png);
}

dl.accordion dt.roadblock {
  background-image: url(img/icon-roadblock.png);
}

#services dd {
  margin-left: 65px;
  padding: 0.3em 0 0.8em;
  border-top: 1px solid #695e52;
}

#services dt {
  background: no-repeat 0 0;
  color: #695e52;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 65px;
}

#services dt.agenda {
  background-image: url("img/icon-agenda.png");
}

#services dt.extranet {
  background-image: url("img/icon-extranet.png");
}

#services dt.media {
  background-image: url("img/icon-media.png");
}

#services dt.warning {
  background-image: url("img/icon-warning.png");
}

#services dt.print {
  background-image: url("img/icon-print.png");
}

#services dt.image {
  background-image: url("img/icon-image.png");
}

#services dt.frequence {
  background-image: url("img/icon-frequence.png");
}

#services dt.screen {
  background-image: url("img/icon-screen.png");
}

#services dt.lingot {
  background-image: url(img/icon-lingot.png);
}

#services dt.drawer {
  background-image: url(img/icon-drawer.png);
}

#services dt.promo {
  background-image: url(img/icon-promo.png);
}

#services dt.couponning {
  background-image: url(img/icon-couponning.png);
}



/* - Massage - */
section > .messages {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  margin: 35px auto 15px;
  width: 50%;
}

section > .messages ul{
  list-style: none;
  padding: 0;
}

section > .messages ul li:before {
   border: 1px solid transparent;
   display: block;
   font-size: 1.2em;
   font-weight: bold;
   padding: 5px 5%;
   margin: -5px -5.5% 10px;
   text-transform: uppercase;
   width: 101%;
}

section > .messages ul li {
  padding: 5px 5%;
}

.error {
  background: rgba(124, 4, 1, 0.5);
  border: 1px solid #7c0401;
}

li.error:before {
   background: #7c0401;
   border-color: #7c0401;
   content: 'Attention';
}

li.info {
  background: rgba(1, 124, 16, 0.5);
  border: 2px solid #017c10;
}

li.info:before {
  background: #017c10;
  border-color: #017c10;
  content: 'Information';
}


/*
  --------
  - HOME -
  --------
*/
section.index section {
  background: none;
}

section article {
  margin: 0 auto;
  padding: 20px 0;
  width: 950px;
}

article.home {
  background: #f6f4f4;
}

article.home ul {
  background: #f6f4f2;
  display: table;
  padding: 30px 0;
  margin: 0 auto;
  width: 990px;
}

article.home ul li {
  background: no-repeat center top;
  border-right: 1px solid #dcd7cf;
  border-left: 1px solid #fff;
  display: table-cell;
  list-style: none;
  padding: 5.5em 30px 1em;
  width: 200px;
}

article.home ul li:last-child {
  border-right: none;
}

article.home ul li:first-child {
  border-left: none;
}

article.home ul li.pills {
  background-image: url(img/icon-pills.png);
}

article.home ul li.internet {
  background-image: url(img/icon-world.png);
}

article.home ul li.cross {
  background-image: url(img/icon-pharmacy.png);
}

article.home ul li.tools {
  background-image: url(img/icon-technology.png);
}
article.home.second aside {
  display: inline-block;
  vertical-align: top;
  width: 520px;
}

article.home.second aside div {
  background: #ece9e7;
  background: -moz-linear-gradient(#f6f4f2, #ece9e7);
  background: -webkit-linear-gradient(#f6f4f2, #ece9e7);
  border-radius: 8px;
  margin: 15px 0 15px 60px;
  overflow: auto;
  padding: 8px 15px;
}

article.home.second section {
  background: #fff;
}

article.home.second aside h2 {
  color: #695e52;
  font-family: "nav";
  font-size: 1.7em;
  font-variant: small-caps;
  text-decoration: underline;
  margin: 0 0 8px;
  padding: 13px 0 13px 50px;
  border: none;
}

article.home.second aside .graphique h2 {
  background: url(img/icon-graphisme.png) no-repeat center left;
}

article.home.second aside .b-to-c h2 {
  background: url(img/icon-b-to-c.png) no-repeat center  left;
}

article.home.second aside .b-to-b h2 {
  background: url(img/icon-b-to-b.png) no-repeat center left;
}

article.home.second aside a {
  background: url(img/icon-more.png) no-repeat top left;
  display: block;
  float: right;
  font-size: 0;
  height: 23px;
  width: 23px;
}

article.home.second aside a:hover, 
article.home.second aside a:focus {
  background-image: url(img/icon-more-hover.png);
}

article.home.second aside div p {
  font-size:  90%;
  letter-spacing: 0.1em;
}


/*
  ---------
  - SILEX -
  ---------
*/
.silex {
  background-color: #fff !important;
  border-radius: 0 !important;
  display: inline-block;
  height: 350px;
  padding: 0 !important;
  vertical-align: middle;
  width: 460px !important;
  margin-top: 20px;
}

.silex-wrapper {
  box-shadow: 1px 1px 1px #FCFCFB inset, 0px 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #DFDFDF;
  margin-top: 20px;
  width: 547px;
}

.toolbar {
  background: #695E52 !important;
}

.silex img {
  width: 450px;
}

a.silex-icon {
    width: 16px;
    height: 16px;
}
a.silex-icon.grid {
    background-image: url('img/grid.png')
}
a.silex-icon.prev {
    background-image: url('img/prev.png')
}
a.silex-icon.next {
    background-image: url('img/next.png')
}
a.silex-icon.play {
    background-image: url('img/play.png')
}
a.silex-icon.pause {
    background-image: url('img/pause.png')
}



/*
  ----------
  - FOOTER -
  ----------
*/
footer{
  background: #695E52;
  border-top: 5px solid #eb5465;
  font-size: 0.9em;
  text-align: center;
}

footer ul {
  border-top: 8px solid #eb5465;
  display: inline-block;
  padding: 15px 15px 10px;
  margin: 0;
}

footer li {
  display: inline;
}

footer ul li, footer ul li a {
  color: #302921;
  text-shadow: 1px 1px 1px #7c7165;
}

footer ul li a:hover, footer ul li a:focus {
  color: #000;
}

