@font-face {
  font-family: "txt";
  src: url(CaviarDreams.ttf);
}

@font-face {
  font-family: "txt";
  src: url(Caviar Dreams Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "title";
  src: url(ClementePDam-Bold.ttf);
  font-weight: bold;
}

html {
  background: #e5e2e2 url(img/background.png) repeat-x top left;
  font-family: "txt";
  font-size: 1em;
  min-height: 100%;
  width: 100%;
}

body {
  background: url(img/header.png) no-repeat right 8px;
  margin: 0 auto;
  text-align: justify;
  width: 990px;
}

a {
  color: #65933d;
  text-decoration: none;
  transition: color 0.3s linear;
}

form {
  font-size: 92%;
  margin: 20px 0;
}

form label {
  display: block;
}

form input, form textarea {
  border: 1px solid #DFDFDF;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 0.5em;
  padding: 2px ;
  width: 250px;
}

form input:hover, form input:focus,
form textarea:hover, form textarea:focus {
  box-shadow: 0 0 3px rgba(128, 186, 77, 1);
  border-color: rgba(128, 186, 77, 0.2);
}

.address, .mail {
  display: inline-block;
  margin: 25px 0 0;
  min-height: 400px;
  padding: 0 0 0 130px;
  width: 320px;
  vertical-align: middle;
}

.address {
  background: url(img/icon-address.png) no-repeat top left;
}

.mail {
  background: url(img/icon-mail.png) no-repeat top left;
}

a.button, form input[type="submit"] {
  background: linear-gradient(#92d358, #80ba4d);
  background: -moz-linear-gradient(#92d358, #80ba4d);
  background: -webkit-linear-gradient(#92d358, #80ba4d);
  border-radius: 5px;
  font-size: 1em;
  font-family: txt;
  color: #496b2b;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  padding: 0.3em 15px;
}

div.member form input[type="submit"] {
  margin: 0 auto;
}

div.member, div.no-member {
  display: inline-block;
  margin: 25px 0 0;
  padding: 15px 25px;
  width: 400px;
  vertical-align: top;
}

div.member form, div.no-member p {
  text-align: center;
}

div.member input, div.member textarea {
  margin: 0.1em auto 0.8em;
}


div.member h3, div.no-member h3 {
  border-bottom: 1px solid #DCD8D8;
}

p.center {
  margin: 2em 0;
  text-align: center;
}

p.figure img {
  display: block;
  margin: 0 auto;
}

p.figure {
  font-size: 0.8em;
}

p.note {
  font-size: 80%;
}


/*---HEADER--*/
body > header {
  background: url(img/header-shadow.png) no-repeat center 8px;
  position: relative;
  z-index:1;
}

header h1 {
  margin: 0;
}

header h1 a {
  background: url(img/logo.png) no-repeat 0 0;
  color: transparent;
  *color: white;
  display: block;
  font-size: 0;
  height: 150px;
  width: 257px;
}

header aside {
  font-size: 1.25em;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

header aside ul {
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
  text-align: right;
}

header aside ul:before {
  float: left;
  content: url(img/aside.png);
  margin-left: -66px;
  margin-top: 1px;
}



/*---NAV--*/
nav {
  background: url(img/header-shadow2.png) no-repeat center 20px;
  font-size: 1.25em;
  margin: 45px 0 -15px;
  text-align: right;
}

nav ul {
  background: #f6f4f4;
  box-shadow: -2px 2px 2px #fff inset;
  display: inline-block;
  margin: 0;
  padding: 10px 20px 0 4px;
  position: relative;
  z-index: 1;
}

nav > ul:before {
  content:url(img/nav.png);
  float: left;
  margin-left: -70px;
  margin-top: -10px;
}

nav ul > li {
  display: inline-block;
}

header aside ul li a,
nav ul li a {
  color: #727272;
  display: block;
  font-variant: small-caps;
  font-weight: bold;
  padding: 8px;
}

nav ul li:hover ul {
  display: inline-block;
}

nav ul li ul {
  background: linear-gradient(#fefefe, #E5E5E5);
  background: -webkit-linear-gradient(#fefefe, #E5E5E5);
  background: -moz-linear-gradient(#fefefe, #E5E5E5);
  border-radius: 0 15px 15px 15px; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 80%;
  margin-left: 8px;
  padding: 0.2em 0;
  position: absolute;
  text-align: left;
  top: 45px;
  width: 190px;
}

nav ul li ul li {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #fff;
  display: block;
  padding: 0.2em 15px;
}

nav ul li ul li:first-child {
  border-top: none;
}

nav ul li ul li:last-child {
  border-bottom: none;
}

nav ul li ul li:hover,
nav ul li ul li:focus {
  background: #fefefe;
}

nav ul ul li a {
  color: #3F4C88;
}


/*---SECTION--*/
body > section {
  background: #f6f4f4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #636464;
  margin: 0 auto;
  padding: 40px 40px 40px;
  position: relative;
}

article section {
  display: table-cell;
  padding-right: 60px;
  width: 710px;
}

article#home section {
  padding-right: 70px;
  width: 700px;
}

section header {
  border-bottom: 1px solid #dcd8d8;
  box-shadow: 0 1px 1px #fff;
}

section header h2 {
  border-bottom: 6px solid #3F4C88;
  color: #3F4C88;
  margin: 25px 0 0;
  padding: 0.1em 15px 0.1em 5px;
  display: inline-block;
  text-shadow: 1px 1px 1px #fff;
}

section section h2 {
  border-bottom: 6px solid #a4be66;
  font-size: 1.8em;
  font-variant: small-caps;
  padding: 0.5em 0 0.2em;
  text-align: center;
}


article aside {
  display: table-cell;
  width: 200px;
}

article#home ul {
  padding: 0;
}

article#home ul li {
  background: no-repeat center left;
  list-style: none;
  padding: 1.1em 0 1.1em 90px;
}

article#home ul li.pills {
  background-image: url(img/pills.png);
}

article#home ul li.internet {
  background-image: url(img/internet.png);
}

article#home ul li.cross {
  background-image: url(img/cross.png);
}

article#home ul li.tools {
  background-image: url(img/tools.png);
}


/* - Home aside -*/
aside div a {
  display: block;
  border: 1px solid;
  text-align: center;
  margin: 0 0 3em;
  padding: 0em 15px;
}

aside div a h2 {
  font-family: Title;
  font-size: 1.9em; 
  font-variant: small-caps;
  margin: 0;
  padding: 0.5em 0;
}

div.b-to-b a, div.b-to-c a {
  background: linear-gradient(#f1f1f1, #e5e5e5);
  background: -moz-linear-gradient(#f1f1f1, #e5e5e5);
  background: -webkit-linear-gradient(#f1f1f1, #e5e5e5);
  box-shadow: 1px 1px 1px #fcfcfb inset, 
              0px 2px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 1px 1px #fff;
}

div.b-to-c a {
  border-color: #bbc2e2;
  border-radius: 0 15px 15px 15px;
  color: #3F4C88;
}

div.b-to-b a {
  border-color: #dfdfdf;
  color: #9d9d9d;
  border-radius: 15px 15px 0 15px;
  box-shadow: 1px 1px 1px #fcfcfb inset, 
              0px 2px 3px rgba(0, 0, 0, 0.2);
}


ul.offer li.standard {
  background: #e5e5e5;
  background: linear-gradient(#f1f1f1, #e5e5e5);
  background: -moz-linear-gradient(#f1f1f1, #e5e5e5);
  background: -webkit-linear-gradient(#f1f1f1, #e5e5e5);
  border-color: #dfdfdf;
  border-radius: 15px 15px 0 15px;
  box-shadow: 1px 1px 1px #fcfcfb inset, 
              0px 2px 3px rgba(0, 0, 0, 0.2);

  padding: 0.2em 15px;
  text-shadow: 2px 1px 1px #fff;
}

ul.offer li:after {

  display: block;
  width: 45px; 
  height: 45px;
  float: left;
  margin: 0 0 -45px 97px;
}

section.standard ul.offer li.standard:after {
  content:url(img/arrow-standard.png);
}

section.personnal ul.offer li.personnal:after {
  content:url(img/arrow-personnal.png);
}

section.special ul.offer li.special:after {
  content:url(img/arrow-special.png);
}

ul.offer li.personnal {
  background: #80ba4d;
  background: -webkit-linear-gradient(#92d458, #80ba4d);
  background: -moz-linear-gradient(#92d458, #80ba4d);
  border-color: #80ba4d;
  border-radius: 0 15px 15px 15px;
  box-shadow: 1px 1px 1px #a1e961 inset,
              0 2px 3px rgba(0, 0, 0, 0.2);
  color: #f2f3f0;
  text-shadow: 1px 1px 1px #68973f;
}

ul.offer {
  text-align: center;
  display: table;
  padding: 0;
  margin: 40px 0;
}

ul.offer li {
  border: 1px solid;
  display: inline-block;
  border-radius: 15px 15px 0 15px;
  vertical-align: middle;
  margin: 0 15px;
  height: 100px;
}

ul.offer li.standard a {
  color: #7ab249;
}

ul.offer li.personnal {
  border-radius: 0  15px 15px 15px;
}

ul.offer li.personnal a {
  color: #f2f3f0;
}

ul.offer li.special {
  background: #303A67
  background: -moz-linear-gradient(#3f4c88, #303A67);
  background: -webkit-linear-gradient(#3f4c88, #303A67);
  border-color: #303A67;
  box-shadow: 1px 1px 1px #5465B3 inset,
              0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 0;
}

ul.offer li.special a {
  color: #fff;
  line-height: 1.1em;
  text-shadow: 1px 1px 1px #242C4D;
}

ul.offer li a {
  font-weight: bold;
  display: block;
  line-height: 80px;
  font-size: 1.5em;
  padding: 10px 20px; 
  width: 220px;
}


dl dt {
  font-weight: bold;
}

dl#banniere {
  margin: 20px auto;
  width: 900px;
}

dl p {
  margin: 0;
  padding: 2px 0;
}



/* - Accordion - */
dl.accordion dt{
  background: no-repeat center left;
  border-bottom: 1px solid #DCD8D8;
  border-top: 1px solid #fff;
  padding: 0.4em 10px 0.4em 85px;
  line-height: 38px;
  clear: left;
}

dl.accordion dt:first-child {
  border-top: none;
}

dl.accordion dt:last-child {
  border-bottom: none;
}

dl.accordion  img {
  float: left;
  margin: 0 15px 0 42px;
}

dl.accordion dd {
  background: url(img/dd-shadow.png) no-repeat top center;
  padding-top: 10px;
  overflow: auto;
}

dl.accordion dt:hover,
dl.accordion dt:focus {
  background-color: #e5e2e2;
  cursor: pointer;
}

dl#banniere dt, #services dt {
  text-transform: uppercase;
}

dl.accordion dt.billboard-grand {
  background-image: url(img/icon-billboard-grand.png);
}

dl.accordion dt.billboard-petit {
  background-image: url(img/icon-billboard-petit.png);
}

dl.accordion dt.bandeau-haut {
  background-image: url(img/icon-bandeau-haut.png);
}

dl.accordion dt.bandeau-bas {
  background-image: url(img/icon-bandeau-bas.png);
}

dl.accordion dt.skyscrapper-large {
  background-image: url(img/icon-skyscrapper-vertical-large.png);
}

dl.accordion dt.skyscrapper {
  background-image: url(img/icon-skyscrapper-vertical.png);
}

dl.accordion dt.roadblock {
  background-image: url(img/icon-roadblock.png);
}

#services dd {
  margin-left: 65px;
  padding: 0.3em 0 0.8em;
  border-top: 1px solid #3F4C88;
}

#services dt {
  background: no-repeat 0 0;
  color: #3F4C88;
  font-size: 1.25em;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 65px;
}

#services dt.agenda {
  background-image: url("img/icon-agenda.png");
}

#services dt.extranet {
  background-image: url("img/icon-extranet.png");
}

#services dt.media {
  background-image: url("img/icon-media.png");
}

#services dt.warning {
  background-image: url("img/icon-warning.png");
}

#services dt.print {
  background-image: url("img/icon-print.png");
}

#services dt.image {
  background-image: url("img/icon-image.png");
}

#services dt.frequence {
  background-image: url("img/icon-frequence.png");
}

#services dt.screen {
  background-image: url("img/icon-screen.png");
}

#services dt.lingot {
  background-image: url(img/icon-lingot.png);
}

#services dt.drawer {
  background-image: url(img/icon-drawer.png);
}

#services dt.promo {
  background-image: url(img/icon-promo.png);
}

#services dt.couponning {
  background-image: url(img/icon-couponning.png);
}


/* - silex - */
.silex {
  background: linear-gradient(#F1F1F1, #E5E5E5);
  background: -moz-linear-gradient(#F1F1F1, #E5E5E5);
  background: -webkit-linear-gradient(#F1F1F1, #E5E5E5);
  border: 1px solid #DFDFDF;
  border-radius: 15px 0 15px 15px !important;
  box-shadow: 1px 1px 1px #FCFCFB inset, 0px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

silex.img {
  border: 5px solid #fff;
  box-shadow: 
}


a.silex-icon {
    width: 16px;
    height: 16px;
}
a.silex-icon.grid {
    background-image: url('img/grid.png')
}
a.silex-icon.prev {
    background-image: url('img/prev.png')
}
a.silex-icon.next {
    background-image: url('img/next.png')
}
a.silex-icon.play {
    background-image: url('img/play.png')
}
a.silex-icon.pause {
    background-image: url('img/pause.png')
}

/*---FOOTER--*/
footer{
  margin: -40px 20px 0 0;
  text-align: right;
}

footer li{
  display: inline;
}

footer li a{
  color: #dadada;
  font-variant: small-caps;
  padding: 5px;
}

footer li a:hover{ 
  color: #a9d300;
}
