@font-face {
  font-family: "txt";
  src: url(CaviarDreams.ttf);
}

@font-face {
  font-family: "txt";
  src: url(Caviar Dreams Bold.ttf);
  font-weight: bold;
}

html {
  background: #e5e2e2 url(img/background.png) repeat-x top left;
  font-family: "txt";
  font-size: 1em;
  min-height: 100%;
  width: 100%;
}

body {

  margin: 0 auto;
  text-align: justify;
  width: 990px;
}

a {
  text-decoration: none;
  transition: color 0.3s linear;
}

p.center {
  margin: 2em 0;
  text-align: center;
}

p.note {
  font-size: 80%;
}


/*---HEADER--*/
body > header {
  background: url(img/header-shadow.png) no-repeat center 8px;
  position: relative;
  z-index:1;
}

header h1 {
  margin: 0;
}

header h1 a {
  background: url(img/logo.png) no-repeat 0 0;
  color: transparent;
  *color: white;
  display: block;
  font-size: 0;
  height: 150px;
  width: 257px;
}

header aside {
  font-size: 1.25em;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

header aside ul {
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
  text-align: right;
}

header aside ul:before {
  float: left;
  content: url(img/aside.png);
  margin-left: -66px;
  margin-top: 1px;
}



/*---NAV--*/
nav {
  background: url(img/header-shadow2.png) no-repeat center 20px;
  font-size: 1.25em;
  margin: 45px 0 -15px;
}

nav ul {
  background: #f6f4f4;
  box-shadow: 2px 2px 2px #fff inset;
  display: inline-block;
  margin: 0;
  padding: 10px 4px 0 20px;
  position: relative;
  z-index: 1;
}

nav > ul:before {
  content:url(img/nav.png);
  float: right;
  margin-right: -70px;
  margin-top: -10px;
}

nav ul > li {
  display: inline-block;
}

header aside ul li a,
nav ul li a {
  color: #727272;
  display: block;
  font-variant: small-caps;
  font-weight: bold;
  padding: 8px;
}

nav ul li:hover ul {
  display: inline-block;
}

nav ul li ul {
  display: none;
  position: absolute;
  text-align: left;
  font-size: 80%;
  background: #fff;
  width: 220px;
  padding: 0.2em 0;
  border-radius: 0 15px 15px 15px; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  top: 40px;
}

nav ul li ul li {
  display: block;
  padding: 0.2em 15px;
}

nav ul ul li a{
color: #798c4b;
}


/*---SECTION--*/
body > section {
  background: #f6f4f4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: #636464;
  margin: 0 auto;
  padding: 40px 40px 40px;
  position: relative;
}

article section {
  display: table-cell;
  padding-right: 60px;
  width: 710px;
}

article#home section {
  padding-right: 70px;
  width: 700px;
}

section header {
  border-bottom: 1px solid #dcd8d8;
}

section header h2 {
  border-bottom: 6px solid #98ab74;
  margin: 25px 0 0;
  padding: 0.1em 15px 0.1em 5px;
  display: inline-block;
  text-shadow: 1px 1px 1px #fff;
}

section section h2 {
  border-bottom: 6px solid #a4be66;
  font-size: 1.8em;
  font-variant: small-caps;
  padding: 0.5em 0 0.2em;
  text-align: center;
}


article aside {
  display: table-cell;
  width: 200px;
}

article#home ul {
  padding: 0;
}

article#home ul li {
  background: no-repeat center left;
  list-style: none;
  padding: 1.1em 0 1.1em 90px;
}

article#home ul li.pills {
  background-image: url(img/pills.png);
}

article#home ul li.internet {
  background-image: url(img/internet.png);
}

article#home ul li.cross {
  background-image: url(img/cross.png);
}

article#home ul li.tools {
  background-image: url(img/tools.png);
}


/* - Home aside -*/
aside div a {
  display: block;
  border: 1px solid;
  text-align: center;
  margin: 0 0 3em;
  padding: 0.2em 15px;
  text-transform: uppercase;
}

div.b-to-b a, ul.offer li.standard {
  background: #f2f3f0;
  border-color: #dfdfdf;
  border-radius: 15px 15px 0 15px;
  box-shadow: 1px 1px 1px #fcfcfb inset, 
              0px 2px 3px rgba(0, 0, 0, 0.2);
  color: #798c4b;
  padding: 0.2em 15px;
  text-shadow: 2px 1px 1px #fff;
}

div.b-to-c a, ul.offer li.personnal {
  background: #9eb763;
  background: -webkit-linear-gradient(#a4be66, #798c4b);
  background: -moz-linear-gradient(#a4be66, #798c4b);
  border-color: #a4be66;
  border-radius: 0 15px 15px 15px;
  box-shadow: 1px 1px 1px #bcd978 inset,
              0px 2px 3px rgba(0, 0, 0, 0.2);
  color: #f2f3f0;
  text-shadow: 1px 1px 1px #515e33;
}


ul.offer {
  text-align: center;
  display: table;
  padding: 0;
  margin: 40px 0;
  border-spacing: 25px 0;
}

ul.offer li {
  border: 1px solid;
  display: table-cell;
  border-radius: 15px 15px 0 15px;
  vertical-align: middle;
}

ul.offer li.standard a {
  color: #798c4b;
}

ul.offer li.personnal {
  border-radius: 0  15px 15px 15px;
}

ul.offer li.personnal a {
  color: #f2f3f0;
}

ul.offer li.special {
  background: #303A67
  background: -moz-linear-gradient(#3f4c88, #303A67);
  background: -webkit-linear-gradient(#3f4c88, #303A67);
  border-color: #303A67;
  box-shadow: 1px 1px 1px #5465B3 inset,
              0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 0;
}

ul.offer li.special a {
  color: #fff;
  text-shadow: 1px 1px 1px #242C4D;
}

ul.offer li a {
  font-weight: bold;
  display: block;
  font-size: 1.5em;
  padding: 0.3em 20px; 
  width: 220px;
}


dl dt {
  font-weight: bold;
}

dl#banniere {
  margin: 20px auto;
  width: 900px;
}

dl p {
  margin: 0;
  padding: 2px 0;
}



/* - Accordion - */
dl.accordion dt{
  background: no-repeat center left;
  border-bottom: 1px solid #cdcdcd;
  padding: 0.4em 10px 0.4em 85px;
  line-height: 38px;
  clear: left;
}

dl.accordion  img {
  float: left;
  margin: 0 15px 0 42px;
}

dl.accordion dd {
  background: url(img/dd-shadow.png) no-repeat top center;
  padding-top: 10px;
  overflow: auto;
}

dl.accordion dt:hover,
dl.accordion dt:focus {
  background-color: #e5e2e2;
  cursor: pointer;
}

dl#banniere dt, #services dt {
  text-transform: uppercase;
}

dl.accordion dt.billboard-grand {
  background-image: url(img/icon-billboard-grand.png);
}

dl.accordion dt.billboard-petit {
  background-image: url(img/icon-billboard-petit.png);
}

dl.accordion dt.bandeau-haut {
  background-image: url(img/icon-bandeau-haut.png);
}

dl.accordion dt.bandeau-bas {
  background-image: url(img/icon-bandeau-bas.png);
}

dl.accordion dt.skyscrapper-large {
  background-image: url(img/icon-skyscrapper-vertical-large.png);
}

dl.accordion dt.skyscrapper {
  background-image: url(img/icon-skyscrapper-vertical.png);
}

dl.accordion dt.roadblock {
  background-image: url(img/icon-roadblock.png);
}



#services dd {
  margin-left: 60px;
}

#services dt {
  background: no-repeat top left;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
}

#services dt.agenda {
  background-image: url("img/icon-agenda.png");
}

#services dt.extranet {
  background-image: url("img/icon-extranet.png");
}

#services dt.media {
  background-image: url("img/icon-media.png");
}

#services dt.warning {
  background-image: url("img/icon-warning.png");
}

#services dt.print {
  background-image: url("img/icon-print.png");
}

#services dt.image {
  background-image: url("img/icon-image.png");
}

#services dt.frequence {
  background-image: url("img/icon-frequence.png");
}

#services dt.screen {
  background-image: url("img/icon-screen.png");
}



/*---FOOTER--*/
footer{
  margin: -40px 20px 0 0;
  text-align: right;
}

footer li{
  display: inline;
}

footer li a{
  color: #dadada;
  font-variant: small-caps;
  padding: 5px;
}

footer li a:hover{ 
  color: #a9d300;
}
